* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

